{% extends 'base.html' %}

{% load humanize %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}

  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4 user-dashboard-header">User Dashboard</h1>
        <p class="lead">Manage your Real Estate account</p>
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>


  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container adminheader text-white">
            <h3>New Properties</h3>
          </div>


        </div>
      </div>
    </div>

  </section>

  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-white">
                    <img class="card-img" src="{{ listing.photo_main.url }}" alt="Card image">
                    <a href="{% url 'listing' listing.id %}" class='text-white'>
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="mt-auto img-main-text"><h5>{{ listing.address }}, {{listing.city}}, {{ listing.state }}</h5></div>
                    </div>
                    </a>
                </div>
                <div class="card">
                <div class="card-body">
                  <div class="listing-heading text-center">
                    {% if listing.purchase_amt %}
                    <h6 class="card-title text-primary">Purchase Price: ${{listing.purchase_amt|intcomma}}</h6>
                    {% endif %}
                    {% if listing.sales_price %}
                    <h6 class="card-title text-primary">Sales Price: ${{listing.sales_price|intcomma}}</h6>
                    {% endif %}
                    {% if listing.target_rent %}
                    <h6 class="card-title text-primary">Rent: ${{listing.target_rent|intcomma}}</h6>
                    {% endif %}
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}</div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
                </div>
            </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              <h5>Non-Current Rentals</h5>
            </div>
            <ul class="list-group list-group-flush">
              {% for item in properties %}
              {% for x in item.rental.all %}
              {% if x.rental_status == "2" %}
              <li class="list-group-item"><a href="{% url 'listing' item.id %}">{{item.title}}</a><span class="badge badge-warning non-current-late float-right">Late</span></li>
              {% elif x.rental_status == "3" %}
              <li class="list-group-item"><a href="{% url 'listing' item.id %}">{{item.title}}</a><span class="badge badge-danger non-current-3day float-right">3-Day Notice</span></li>
              {% elif x.rental_status == "4" %}
              <li class="list-group-item"><a href="{% url 'listing' item.id %}">{{item.title}}</a><span class="badge badge-danger non-current-vacant float-right">Vacant</span></li>
              {% elif x.rental_status == "5" %}
              <li class="list-group-item"><a href="{% url 'listing' item.id %}">{{item.title}}</a><span class="badge badge-danger float-right non-current-evicting">Evicting</span></li>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </ul>
          </div>


        </div>
      </div>
    </div>

  </section>
  {% endblock %}
