{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <section id="showcase">
          <div class="container text-center">
            <div class="home-search p-5">
              <div class="overlay p-5">
                <h3 class="display-4 mb-4">
                  Search
                </h3>
                <p class="lead"></p>
                <div class="search">
                  {% if user.is_authenticated %}
                  <form action="{% url 'search' %}">
                    <!-- Form Row 1 -->
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label class="sr-only">Keywords</label>
                        <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                      </div>

                      <div class="col-md-12 mb-3">
                        <label class="sr-only">City</label>
                        <input type="text" name="city" class="form-control" placeholder="City">
                      </div>

                      <div class="col-md-12 mb-3">
                        <label class="sr-only">State</label>
                        <select name="state" class="form-control">
                          <option selected="true" disabled="disabled">State (All)</option>
                          {% for key,value in state_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label class="sr-only">Status</label>
                        <select name="status" class="form-control">
                          <option selected="true" disabled="disabled">Status</option>
                          {% for key,value in status_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-12 mb-3">
                        <select name="price" class="form-control" id="type">
                          <option selected="true" disabled="disabled">Max Price (Any)</option>
                          {% for key,value in price_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <button class="btn btn-warning btn-block mt-4" type="submit">Submit</button>
                  </form>
                  {% else %}

                  <form action="{% url 'guest_search' %}">
                    <!-- Form Row 1 -->
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label class="sr-only">Keywords</label>
                        <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)" value="{{ values.keywords }}">
                      </div>

                      <div class="col-md-12 mb-3">
                        <label class="sr-only">City</label>
                        <input type="text" name="city" class="form-control" placeholder="City" value="{{ values.city }}">
                      </div>

                      <div class="col-md-12 mb-3">
                        <label class="sr-only">Bedrooms</label>
                        <select name="bedrooms" class="form-control">
                          <option selected="true" disabled="disabled">Bedrooms (Any)</option>
                          {% for key,value in bedroom_choices.items %}
                              <option value="{{ key }}"
                              {% if key == values.bedrooms %}
                                selected
                              {% endif %}
                              >{{ value }}</option>
                            {% endfor %}
                        </select>
                      </div>

                      <div class="col-md-12 mb-3">
                        <label class="sr-only">State</label>
                        <select name="state" class="form-control">
                          <option selected="true" disabled="disabled">State (All)</option>
                          {% for key,value in state_choices.items %}
                              <option value="{{ key }}"
                              {% if key == values.state %}
                                selected
                              {% endif %}
                              >{{ value }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <select name="price" class="form-control">
                          <option selected="true" disabled="disabled">Max Price (All)</option>
                          {% for key,value in price_choices.items %}
                              <option value="{{ key }}"
                              {% if key == values.price %}
                                selected
                              {% endif %}
                              >{{ value }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select name="rent" class="form-control">
                          <option selected="true" disabled="disabled">Max Rent (All)</option>
                          {% for key,value in rent_choices.items %}
                              <option value="{{ key }}"
                              {% if key == values.rent %}
                                selected
                              {% endif %}
                              >{{ value }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <button class="btn btn-warning btn-block mt-4" type="submit">Submit</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
      <br>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <section id="listings" class="py-5">
        <div class="container">
          <h3 class="text-center mb-3">Latest Listings</h3>
          <div class="row">
            {% if listings %}
              {% for listing in listings %}
              <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card text-white" >
                        <img class="card-img" src="{{ listing.photo_main.url }}" alt="Card image">
                        <a href="{% url 'listing' listing.id %}" class='text-white'>
                          <div class="card-img-overlay d-flex flex-column">
                              <div class="mt-auto img-main-text"><h6>{{ listing.address }}, {{listing.city}}, {{ listing.state }}</h6></div>
                          </div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                      <div class="listing-heading text-center">
                        {% if listing.sales_price %}
                        <h5 class="card-title text-primary">Price: ${{listing.sales_price|intcomma}}</h5>
                        {% endif %}
                        {% if listing.target_rent %}
                        <h6 class="card-title text-primary">Rent: ${{listing.target_rent|intcomma}}</h6>
                        {% endif %}
                      </div>
                      <hr>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                          <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft|intcomma }}</div>
                        <div class="col-6">
                          <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                      </div>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                          <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                        <div class="col-6">
                          <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                      </div>
                      <hr>
                      <a href="{% url 'listing' listing.id %}" class="btn btn-warning btn-block">More Info</a>
                    </div>
                    </div>
                </div>

              {% endfor %}
            {% else %}
              <div class="col-md-12">
                <h4>No properties currently available to view.</h4>
                <p>For more information, please call 555-1234.</p>
              </div>
            {% endif %}

          </div>
        </div>
      </section>
    </div>

  </div>


  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4 text-white"></i>
          <hr>
          <h3>Consulting Services</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p> -->
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4 text-white"></i>
          <hr>
          <h3>Propery Management</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p> -->
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4 text-white"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p> -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% for key,item in status_choices.items %}
  <p>i</p>
{% endfor %}
