{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}


  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Listings</a>
          </li>
          <li class="breadcrumb-item active">{{ listing.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'listings' %}" class="btn btn-light mb-4">Back To Listings</a>

      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <div class="img-container">
            <img src="{{ listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3"></img>
            <div class="top-left">
              {% if user.is_authenticated %}
                {% if listing.status == "1" %}
                <h1><span class="badge badge-warning">Rented</span></h1>
                {% elif listing.status == "2" %}
                <h1><span class="badge badge-warning">Vacant</span></h1>
                {% elif listing.status == "3" %}
                <h1><span class="badge badge-warning">For Sale</span></h1>
                {% elif listing.status == "4" %}
                <h1><span class="badge badge-warning">Under Construction</span></h1>
                {% elif listing.status == "5" %}
                <h1><span class="badge badge-warning">Buying</span></h1>
                {% elif listing.status == "6" %}
                <h1><span class="badge badge-warning">In Escrow</span></h1>
                {% elif listing.status == "7" %}
                <h1><span class="badge badge-warning">Sold</span></h1>
                {% endif %}
              {% endif %}
            </div>
            <div class="bottom-left img-main-text">
              <h2>{{listing.address}}, {{ listing.city }}, {{ listing.state }} {{listing.zipcode}} </h2>
            </div>
          </div>


          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if listing.photo_1 %}
            <div class="col-2">
              <a href="{{ listing.photo_1.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_2 %}
            <div class="col-2">
              <a href="{{ listing.photo_2.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_3 %}
            <div class="col-2">
              <a href="{{ listing.photo_3.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_4 %}
            <div class="col-2">
              <a href="{{ listing.photo_4.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_4.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_5 %}
            <div class="col-2">
              <a href="{{ listing.photo_5.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_5.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_6 %}
            <div class="col-2">
              <a href="{{ listing.photo_6.url }}" data-lightbox="home-images">
                <img src="{{ listing.photo_6.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
          <!-- Asking Price -->
          <div class="text-center">
            <h2>Asking Price: ${{ listing.asking_price|intcomma }}</h2>
            <h3>Target Rent: ${{ listing.target_rent|intcomma }}</h3>
          </div>
          <br>

        <div class="container text-center description-container">
          <p>{{ listing.description }}</p>
        </div






          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Bedrooms:
                  <span class="float-right">{{ listing.bedrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Bathrooms:
                  <span class="float-right">{{ listing.bathrooms }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-car"></i> Garage:
                  <span class="float-right">{{ listing.garage }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-faucet"></i> Water Heater:
                  <span class="float-right">{{ listing.water_heater }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-fire"></i> Heating:
                  <span class="float-right">{{ listing.heating }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-graduation-cap"></i> School District:
                  <span class="float-right">{{ listing.school_district }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-home"></i> Roof Year:
                  <span class="float-right">{{ listing.roof_year }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-home"></i> Roof Type:
                  {% if listing.roof_type == "1" %}
                  <span class="float-right">Asphalt
                  </span>
                  {% elif listing.roof_type == "2" %}
                  <span class="float-right">Clay/Concrete
                  </span>
                  {% elif listing.roof_type == "3" %}
                  <span class="float-right">Slate
                  </span>
                  {% elif listing.roof_type == "4" %}
                  <span class="float-right">Metal
                  </span>
                  {% elif listing.roof_type == "5" %}
                  <span class="float-right">Wood
                  </span>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Square Feet:
                  <span class="float-right">{{ listing.sqft }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> Lot Size:
                  <span class="float-right">{{ listing.lot_size }} Acres
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Parking:
                  <span class="float-right">{{ listing.parking }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-sort-amount-up-alt"></i> Stories:
                  <span class="float-right">{{ listing.stories }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-fan"></i> Air Conditioning:
                  <span class="float-right">{{ listing.ac }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-city"></i> Neighborhood:
                  <span class="float-right">{{ listing.neighborhood }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar-alt"></i> Year Built:
                  <span class="float-right">{{ listing.year_built }}
                  </span>
                </li>


              </ul>
            </div>
          </div>





<!-- ADMIN ONLY SECTION  -->

           <!-- Rental Information -->
           {% if user.is_authenticated %}
           {% if listing.rental %}
           {% for item in listing.rental.all %}


             <div id="accordion">
               <div class="card">
                 <div class="card-header" id="headingOne">
                   <h5 class="mb-0">
                     Rental Information
                       {% if item.rental_status == "1" %}
                       <span class="badge badge-warning float-center">Current</span>
                       {% endif %}
                       {% if item.rental_status == "2" %}
                       <span class="badge badge-warning float-center">Late</span>
                       {% endif %}
                       {% if item.rental_status == "3" %}
                       <span class="badge badge-warning float-center">3-Day Notice</span>
                       {% endif %}
                       {% if item.rental_status == "4" %}
                       <span class="badge badge-warning float-center">Vacant</span>
                       {% endif %}
                       {% if item.rental_status == "5" %}
                       <span class="badge badge-warning float-center">Evicting</span>
                       {% endif %}
                     <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Show
                     </button>
                   </h5>
                 </div>
                 <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                 <div class="card-body">
                     <div class="row">


                     <div class="col-md-6 col-sm-12 col-xs-12">
                       <div class="card-body">
                         <h5 class="card-title">Monthly Rent: <span class="float-center">${{ item.rental_price }}</span></h5>
                         <hr>
                         <h5 class="card-title">Security Deposit: <span class="float-center">${{ item.security_deposit }}</span></h5>
                         <hr>
                         <h5 class="card-title">Other Fees: <span class="float-center">${{ item.other_fees }}</span></h5>
                         <hr>
                         {% if item.lease_agreement %}
                         <a type="button" class="btn btn-info" href="{{ item.lease_agreement.url }}">View Lease Agreement</a>
                         {% endif %}
                       </div>
                     </div>
                     <div class="col-md-6 col-sm-12 col-xs-12">
                       <div class="card-body">
                         <ul class="list-group list-group-flush">
                           {% if item.lease_start %}
                           <li class="list-group-item">Lease Start:
                             <span class="float-right">{{ item.lease_start|date:'M-d-Y' }}</span>
                           </li>
                           {% endif %}
                           {% if item.lease_end %}
                           <li class="list-group-item">Lease End:
                             <span class="float-right">{{ item.lease_end|date:'M-d-Y' }}</span>
                           </li>
                           {% endif %}
                           {% if item.tenant_name %}
                           <li class="list-group-item">Tenant:
                             <span class="float-right">{{ item.tenant_name }}</span>
                           </li>
                           {% endif %}
                           {% if item.tenant_phone %}
                           <li class="list-group-item">Phone Number:
                             <span class="float-right">{{ item.tenant_phone }}</span>
                           </li>
                           {% endif %}
                           {% if item.tenant_phone2 %}
                           <li class="list-group-item">Phone Number 2:
                             <span class="float-right">{{ item.tenant_phone2 }}
                             </span>
                           </li>
                           {% endif %}
                           {% if item.tenant_email %}
                           <li class="list-group-item">Email:
                             <span class="float-right">{{ item.tenant_email }}
                             </span>
                           </li>
                           {% endif %}

                         </ul>


                       </div>
                     </div>
                     </div>
                 </div>
                     {% if item.rental_notes %}
                     <div class="card-body">
                       <p class="card-text">{{ item.rental_notes }}</p>
                     </div>
                     {% endif %}
                   </div>
                 </div>
               </div>

               <hr>
           {% endfor %}
           {% endif %}
           {% endif %}


          <!-- Insurance Information -->
          {% if user.is_authenticated %}
          {% if listing.insurance %}
          {% for item in listing.insurance.all %}


            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    Insurance Information
                    <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Show
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">


                  <div class="col-md-6 col-sm-12 col-xs-12">
                      {% if item.insurance_company %}
                      <h5 class="card-title">Insurer: <span class="float-center">{{ item.insurance_company }}</span></h5>
                      <hr>
                      {% endif %}
                      {% if item.annual_pmt %}
                      <h5 class="card-title">Annual Payment: <span class="float-center">${{ item.annual_pmt }}</span></h5>
                      <hr>
                      {% endif %}
                      {% if item.insurance_policy %}
                      <a type="button" class="btn btn-info" href="{{ item.insurance_policy.url }}">View Insurance Policy</a>
                      {% endif %}

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <ul class="list-group list-group-flush">
                        {% if item.effective_date %}
                        <li class="list-group-item">Effective Date:
                          <span class="float-right">{{ item.effective_date|date:'M-d-Y' }}</span>
                        </li>
                        {% endif %}
                        {% if item.policy_number %}
                        <li class="list-group-item">Policy Number:
                          <span class="float-right">{{ item.policy_number }}</span>
                        </li>
                        {% endif %}
                        {% if item.liability_amt %}
                        <li class="list-group-item">Liability Coverage:
                          <span class="float-right">${{ item.liability_amt }}</span>
                        </li>
                        {% endif %}
                        {% if item.replacement_amt %}
                        <li class="list-group-item">Replacement Coverage:
                          <span class="float-right">${{ item.replacement_amt }}</span>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
                  </div>
                </div>
                      {% if item.insurance_notes %}
                      <div class="card-body">
                        <p class="card-text">{{ item.insurance_notes }}</p>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>

              <hr>
          {% endfor %}
          {% endif %}
          {% endif %}


          <!-- Mortgage Information -->
          {% if user.is_authenticated %}
          {% if listing.mortgage %}
          {% for item in listing.mortgage.all %}


            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    Mortgage Information
                    <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Show
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">


                  <div class="col-md-6 col-sm-12 col-xs-12">

                      <h5 class="card-title">Lender: <span class="float-center">{{ item.lender }}</span></h5>
                      <hr>
                      <h5 class="card-title">Monthly Payment: <span class="float-center">${{ item.monthly_pmt }}</span></h5>
                      <hr>
                      <h5 class="card-title">Impound:
                      {% if item.impound == True%}
                      <span class="float-center">Yes</span>
                      {% else %}
                      <span class="float-center">No</span>
                      {% endif %}
                      </h5>
                      <hr>
                      {% if item.mortgage_documents %}
                      <a type="button" class="btn btn-info" href="{{ item.mortgage_documents.url }}">View Mortgage Documents</a>
                      {% endif %}

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <ul class="list-group list-group-flush">
                        {% if item.loan_number %}
                        <li class="list-group-item">Loan Number:
                          <span class="float-right">{{ item.loan_number }}</span>
                        </li>
                        {% endif %}
                        {% if item.principal %}
                        <li class="list-group-item">Principal:
                          <span class="float-right">${{ item.principal }}</span>
                        </li>
                        {% endif %}
                        {% if item.interest %}
                        <li class="list-group-item">Interest:
                          <span class="float-right">{{ item.interest }}%</span>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
                  </div>
                </div>
                      {% if item.insurance_notes %}
                      <div class="card-body">
                        <p class="card-text">{{ item.insurance_notes }}</p>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>

              <hr>
          {% endfor %}
          {% endif %}
          {% endif %}

          <!-- Acquisition and Disposition -->
          {% if user.is_authenticated %}
          {% if listing.purchase_amt %}


            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    Acquistion & Dispostion
                    <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                      Show
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse hide" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">


                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Acquistion</h3>
                    <ul class="list-group list-group-flush">
                      {% if listing.purchase_date %}
                      <li class="list-group-item">Purchase Date:
                        <span class="float-right">{{ listing.purchase_date|date:'M-d-Y'  }}</span>
                      </li>
                      {% endif %}
                      {% if listing.purchase_amt %}
                      <li class="list-group-item">Purchase Amount:
                        <span class="float-right">${{ listing.purchase_amt }}</span>
                      </li>
                      {% endif %}
                      {% if listing.purchase_escrow_agent %}
                      <li class="list-group-item">Escrow Agent:
                        <span class="float-right">{{ listing.purchase_escrow_agent }}</span>
                      </li>
                      {% endif %}
                      {% if listing.purchase_escrow_number %}
                      <li class="list-group-item">Escrow Number:
                        <span class="float-right">{{ listing.purchase_escrow_number }}</span>
                      </li>
                      {% endif %}
                    </ul>

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <h3>Disposition</h3>
                      <ul class="list-group list-group-flush">
                        {% if listing.sold_date %}
                        <li class="list-group-item">Sale Date:
                          <span class="float-right">{{ listing.sold_date|date:'M-d-Y' }}</span>
                        </li>
                        {% endif %}
                        {% if listing.sale_amt %}
                        <li class="list-group-item">Sale Amount:
                          <span class="float-right">${{ listing.sale_amt }}</span>
                        </li>
                        {% endif %}
                        {% if listing.sale_escrow_agent %}
                        <li class="list-group-item">Escrow Agent:
                          <span class="float-right">{{ listing.sale_escrow_agent }}</span>
                        </li>
                        {% endif %}
                        {% if listing.sale_escrow_number %}
                        <li class="list-group-item">Escrow Number:
                          <span class="float-right">{{ listing.sale_escrow_number }}</span>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
                  </div>
                </div>
                      {% if item.insurance_notes %}
                      <div class="card-body">
                        <p class="card-text">{{ item.insurance_notes }}</p>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>

              <hr>
          {% endif %}
          {% endif %}


          <!-- Expense Information -->
          {% if user.is_authenticated %}
          {% if listing.expense.all %}



            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    Expenses/Utilities
                    <span class="badge badge-primary float-center">{{ listing.expense.count }}</span>
                    <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      Show
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordion">
                  {% for item in listing.expense.all %}
                <div class="card-body">

                  <div class="row">


                  <div class="col-md-6 col-sm-12 col-xs-12">

                      <h5 class="card-title">Type: <span class="float-center">{{ item.get_expense_type_display }}</span></h5>
                      <hr>
                      {% if item.expense_document %}
                      <a type="button" class="btn btn-info" href="{{ item.expense_document.url }}">View Documents</a>
                      {% endif %}

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <ul class="list-group list-group-flush">
                        {% if item.vendor_name %}
                        <li class="list-group-item">Vendor Name:
                          <span class="float-right">{{ item.vendor_name }}</span>
                        </li>
                        {% endif %}
                        {% if item.amount %}
                        <li class="list-group-item">Amount Due:
                          <span class="float-right">${{ item.amount }}</span>
                        </li>
                        {% endif %}
                        {% if item.recurrence %}
                        <li class="list-group-item">Recurrence:
                          <span class="float-right">{{ item.get_recurrence_display }}</span>
                        </li>
                        {% endif %}
                        {% if item.autopay %}
                        <li class="list-group-item">Auto Pay On:
                          <span class="float-right">{{ item.get_autopay_display }}</span>
                        </li>
                        {% endif %}
                        {% if item.responsibility == "1" %}
                        <li class="list-group-item">Responsibility:
                          <span class="float-right">Owner Pays</span>
                        </li>
                        {% endif %}
                        {% if item.responsibility == "2" %}
                        <li class="list-group-item">Responsibility:
                          <span class="float-right">Tenant Pays</span>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
                  </div>
                </div>



                      {% if item.expense_notes %}
                      <div class="card-body">
                        <p class="card-text">{{ item.expense_notes }}</p>
                      </div>
                      {% endif %}

              {% endfor %}
                  </div>
                </div>
              </div>

              <hr>

          {% endif %}
          {% endif %}



          <!-- Maintenance Information -->
          {% if user.is_authenticated %}
          {% if listing.maintenance.all %}



            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    Maintenenance/Repairs
                    <span class="badge badge-primary float-center">{{ listing.maintenance.count }}</span>
                    <button class="btn btn-warning float-right" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      Show
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse hide" aria-labelledby="headingFive" data-parent="#accordion">
                  {% for item in listing.maintenance.all %}
                <div class="card-body">

                  <div class="row">


                  <div class="col-md-6 col-sm-12 col-xs-12">

                      <h5 class="card-title"><span class="float-center">{{ item.title }}</span></h5>
                      <hr>
                      {% if item.maintenance_document %}
                      <a type="button" class="btn btn-info" href="{{ item.maintenance_document.url }}">View Documents</a>
                      {% endif %}
                      <hr>
                      <div class="row">


                      {% if item.photo_1 %}
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <a href="{{ item.photo_1.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_1.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      {% if item.photo_2 %}
                      <div class="col-md-2">
                        <a href="{{ item.photo_2.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_2.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      {% if item.photo_3 %}
                      <div class="col-md-2">
                        <a href="{{ item.photo_3.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_3.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      {% if item.photo_4 %}
                      <div class="col-md-2">
                        <a href="{{ item.photo_4.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_4.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      {% if item.photo_5 %}
                      <div class="col-md-2">
                        <a href="{{ item.photo_5.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_5.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      {% if item.photo_6 %}
                      <div class="col-md-2">
                        <a href="{{ item.photo_6.url }}" data-lightbox="home-images">
                          <img src="{{ item.photo_6.url }}" alt="" class="img-fluid">
                        </a>
                      </div>
                      {% endif %}
                      </div>

                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <ul class="list-group list-group-flush">
                        {% if item.repair_date %}
                        <li class="list-group-item">Date:
                          <span class="float-right">{{ item.repair_date }}</span>
                        </li>
                        {% endif %}
                        {% if item.cost %}
                        <li class="list-group-item">Cost:
                          <span class="float-right">${{ item.cost }}</span>
                        </li>
                        {% endif %}
                        {% if item.repair_status %}
                        <li class="list-group-item">Status:
                          <span class="float-right">{{ item.repair_status }}</span>
                        </li>
                        {% endif %}
                      </ul>
                  </div>
                  </div>
                </div>



                      {% if item.maintenance_notes %}
                      <div class="card-body">
                        <p class="card-text">{{ item.maintenance_notes }}</p>
                      </div>
                      {% endif %}

              {% endfor %}
                  </div>
                </div>
              </div>

              <hr>

          {% endif %}
          {% endif %}

          <!-- Description -->

        </div>
        <div class="col-md-3">

          <div class="card mb-3">
            <img class="card-img-top" src="{{ listing.manager.photo.url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{listing.manager.name}}</h5>
              <h6 class="card-title">{{listing.manager.company_name}}</h6>
              <p class="card-text">{{listing.manager.phone}}</p>
              <p class="card-text">{{listing.manager.email}}</p>
              {% if user.is_authenticated %}
              <p class="card-text">{{listing.manager.address}}, {{listing.manager.city}}, {{listing.manager.state}} {{listing.manager.zip}}</p>
              <p class="card-text">{{listing.manager.description}}</p>
              {% endif %}
            </div>
          </div>

          {% if user.is_authenticated %}

          <div class="card mb-3">
            <div class="card-body">
              <h3 class="card-title">Property Value</h3>
              {% if listing.purchase_date %}
              <h6 class='card-text'>Purchase Date</h6>
              <h6 class="text-secondary">{{ listing.purchase_date }}</h6>
              {% endif %}

              {% if listing.purchase_amt %}
              <h6 class='card-text'>Purchase Amount</h6>
              <h6 class="text-secondary">${{ listing.purchase_amt|intcomma }}</h6>
              {% endif %}

              {% if listing.assessed_value %}
              <h6 class='card-text'>Assessed Value</h6>
              <h6 class="text-secondary">${{ listing.assessed_value|intcomma }}</h6>
              {% endif %}

              {% if listing.current_value %}
              <h6 class='card-text'>Current Value</h6>
              <h6 class="text-secondary">${{ listing.current_value|intcomma }}</h6>
              {% endif %}

              {% if listing.owned_equity %}
              <h6 class='card-text'>Owned Equity</h6>
              <h6 class="text-secondary">${{ listing.owned_equity|intcomma }}</h6>
              {% endif %}

              {% if listing.partner %}
              <h6 class='card-text'>Partner</h6>
              <h6 class="text-secondary">{{ listing.partner }}</h6>
              {% endif %}

              {% if listing.percent_ownership %}
              <h6 class='card-text'>Percent Ownership</h6>
              <h6 class="text-secondary">{{ listing.percent_ownership }}%</h6>
              {% endif %}



            </div>
          </div>


        <button type="button" class="btn btn-lg btn-warning" onclick="CopyLink()">Copy Property Url</button>
        {% else %}
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
        {% endif %}
        </div>
      </div>
    </div>

  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="realtor_email" value="{{ listing.manager.email }}">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Property:</label>
              <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>

        </div>
      </div>
    </div>
  </div>


{% endblock %}
